body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* notification related */

#notif-area {
  /*    border: 5px solid red;*/
  
  position: fixed;
  top: 3%;
  width: 500px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none;
}

.notif-box {
  border-radius: 5px;
  color: #333;
  margin: 5px auto;
  min-height: 70px;
  max-width: 380px;
  padding: 10px 10px 10px 36px;
  position: relative;
}

.info-box {
  background-color: #fcfcfc;
  border: 1px solid #aab8c6;
}

.success-box {
  background-color: #f3f9f4;
  border: 1px solid #91c89c;
}

.fail-box {
  background-color: #fff8f7;
  border: 1px solid #d04437;
}

.warning-box {
  background-color: #fcf8e3;
  border: 1px solid #f0ad4e;
}

.notif-title {
  margin: 0 0 10px;
  font-weight: bold;
}

.notif-icon {
  position: absolute;
}

.notif-indicator-icon {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  left: 10px;
  height: 20px;
}

.notif-info-icon:before {
  content: "\f16f";
  font-size: 16px;
}

.notif-success-icon:before {
  content: "\f16f";
  font-size: 16px;
}

.notif-fail-icon:before {
  content: "\f16f";
  font-size: 16px;
}

.notif-warning-icon:before {
  content: "\f16f";
  font-size: 16px;
}

.notif-close {
  top: 10px;
  right: 10px;
}

.notif-close:hover {
  color: black;
  font-weight: bold;
}

.notif-close:before {
  content: "x";
  font-size: 16px;
  font-weight: 300;
  font-family: Arial, sans-serif;
}